name: Sync github app token issuer code

on:
  push:
    branches:
      - main
  workflow_dispatch:
  schedule:
    - cron: "0 */1 * * *" # Runs every hour

jobs:
  update-version:
    permissions:
      id-token: write
      contents: write
      pull-requests: write

    name: Update Version
    runs-on: ubuntu-latest
    steps:
      - name: Collect Metrics
        id: collect-gha-metrics
        uses: smartcontractkit/push-gha-metrics-action@v2
        with:
          basic-auth: ${{ secrets.GRAFANA_CLOUD_BASIC_AUTH }}
          hostname: ${{ secrets.GRAFANA_CLOUD_HOST }}
          this-job-name: Update Version
        continue-on-error: true

      - name: Checkout the repo
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1

      - name: Assume role capable of dispatching action
        uses: aws-actions/configure-aws-credentials@010d0da01d0b5a38af31e9c3470dbfdabdecca3a # 4.0.1
        with:
          role-to-assume: ${{ secrets.AWS_OIDC_CHAINLINK_GITHUB_ACTIONS_SYNC_GATI_TOKEN_ISSUER_ROLE_ARN }}
          role-duration-seconds: 3600
          role-session-name: sync-github-app-token-issuer.update-version
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Get Github Token
        id: get-gh-token
        uses: smartcontractkit/chainlink-github-actions/github-app-token-issuer@main
        with:
          url: ${{ secrets.AWS_INFRA_RELENG_TOKEN_ISSUER_LAMBDA_URL }}

      - name: Update version
        env:
          GH_TOKEN: ${{ steps.get-gh-token.outputs.access-token }}
        run: ./github-app-token-issuer/sync.sh

      - name: Update buggy version
        env:
          GH_TOKEN: ${{ steps.get-gh-token.outputs.access-token }}
        run: ./github-app-token-issuer-buggy/sync.sh

      - name: Open PR
        uses: peter-evans/create-pull-request@153407881ec5c347639a548ade7d8ad1d6740e38 # v5.0.2
        with:
          title: Update github-app-token-issuers
          branch: chore/update-github-app-token-issuers
          commit-message: Update github-app-token-issuers
